table {
  width: 100%;
}

.container{
    min-width: 100%;
    max-width: 500px;
    width: 100%;
    background-color: grey;
    color:white;
}

.footer{
  background-color: grey;
  color:white;
}

p{
  text-align: end;
  padding: 10px;
}
